.reset-padding-margin {
	padding: 0px;
	margin: 0px;
}

.btn-primary {
	background-color: $primary-color;
	border-color: adjust-hue($primary-color, 20deg);
}

body {
  background-color: $white-color;
}

.navbar {
	border-radius: 0px;
}

.navbar-default {
	background-color: $white-color;
	border: none;	
}

.navbar {
	min-height: 82px;
}