<div class="container content">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
      <form name="signinForm" ng-submit="login.scope.submitForm(signinForm.$valid)" novalidate>
        <h2 class="form-signin-heading" data-translate="nav.forgot_password.header"></h2>
        <div class="form-group" ng-class="{ 'has-error' : (submitted && !login.data.email) || (signinForm.name.$invalid && !signinForm.name.$pristine) }">
            <input type="email" name="email" class="form-control" ng-model="login.data.email" placeholder="{{ 'user.email' | translate }}"  required>           
        </div>      
        
        <button class="btn btn-lg btn-primary btn-block" type="submit" data-ng-disabled="!login.data.email || !login.data.password" data-translate="user.login.sign_in">Sign in</button>
    </form>
  </div>
  <div class="col-lg-2"></div>
</div>